// app global css in Sass form

body
  font-family: "Ubuntu Light", serif

h1
  font-size: 30px

h2
  font-size: 22px

h3
  font-size: 15px

h4
  font-size: 10px

h5
  font-size: 8px

.bg-adm-home
  background: $main-bg

.bg-top-bar-adm
  background: $top-bar-bg

.bg-left-bar-adm
  background: $left-bar-bg
  color: #ffffff
  font-size: 18px

.font-white
  color: #ffffff

.c-chart
 border: 1px solid white
 border-radius: 10px
 padding: 10px
 margin: 10px
 box-shadow: 1px 1px 40px 1px rgba(28, 40, 54, 0.9)

.c-chart:hover
  background-color: $main-bg
  border: 2px solid white