// app global css in Sass form
.bg-adm-home
  background: $main-bg

.bg-top-bar-adm
  background: $top-bar-bg

.bg-left-bar-adm
  background: $left-bar-bg
  color: #ffffff
  font-size: 18px

.font-white
  color: #ffffff